/* Reset and Overrides*/
* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* Base Style */
html { 
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: 'liga' 0, 'kern';
  -moz-font-feature-settings: 'kern=1';
  -ms-font-feature-settings: 'liga' 0, 'kern';
  -o-font-feature-settings: 'liga' 0, 'kern';
  -webkit-font-feature-settings: 'liga' 0, 'kern';
  font-feature-settings: 'liga' 0, 'kern';  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
}

/* global */
body {
  font: rem-calc(19) 'TiemposText', Georgia, serif;
  color: $white;
  background: $night-black;
}

/* links */
a:link {
  color: $white;
}

a:visited {
  color: $white;
}

a:hover {
  color: $blue;
}

a:active {
  color: $blue;
}

/* header */

.name {
  font-family: 'Titling Gothic FB Narr', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1;
}

.title {
  font-family: 'Titling Gothic FB Ext Thin', 'Helvetica Neue', Helvetica, sans-serif;
  margin-top: 3px;
  line-height: 1;
}

a.cover-link, a.cover-link:visited, a.cover-link:hover, a.cover-link:active {
  text-decoration: none;
  color: $white;
}

/* nav */
.nav {
  list-style: none;
  letter-spacing: 0.05em;
}

.nav li {
  display: inline;
  font-family: 'Titling Gothic FB Narr Light', 'Helvetica Neue', Helvetica, sans-serif;
}

.nav li:after {
  content: '\00B7';
  margin: 0 5px;
}

.nav li:last-of-type:after {
  content: '';
  margin: 0;
}

// .dot {
//   color: $white;
//   display: inline;
//   font-size: rem-calc(30);
// }


a.active {
  border-bottom: 2px solid $blue;
  padding-bottom: 6px;
  color: $white;
  text-decoration: none;
}

a.inactive {
  color: $white;
  border: none;
  text-decoration: none;
}

/* portfolio */

.portfolio {
  height: 400px;
  background: $white;
  color: $night-black;
  padding: 60px 0;
}

.portfolio-picto {
  display: block;
  margin: auto;
}

.portfolio ul li {
  display: block;
  font-family: 'Titling Gothic FB Norm Thin', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: rem-calc(18);
  line-height: 1.3;
}

.portfolio p {
  border-top: 1px solid $white;
  padding-top: 10px;
  margin-top: 10px;
}

a.button.large {
  color: $white;
  margin: 60px 0;
  background: $night-black;
  transition: all 300ms ease;
}

a:hover.button.large {
  color: $night-black;
}

a:active.button.large {
  background: $white;
  transition: all 100ms ease;
}

/* utility classes */
.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-upper {
  text-transform: uppercase;
}

.text-lower {
  text-transform: lowercase;
}

/* Spacing */

.space {
  letter-spacing: 0.05em;
}

.nix-padding {
  padding: 0 !important;
}

/* images */

.exhibit {
  margin-top: 36px;
}

.exhibit-icon {
  margin-top: -6px;
}

.exhibit-circle {
  background: $srs;
  border-radius: 75px;
  width: 110px;
  height: 110px;
  padding: 0px;
  margin-top: 10px;
}

/* Webtype */
.titlinggothicfbextendedthin {
  font-family: 'Titling Gothic FB Ext Thin';
  font-style: normal;
  font-weight: normal;
}

.titlinggothicfbnarrlight {
  font-family: 'Titling Gothic FB Narr Light';
  font-style: normal;
  font-weight: normal;
}

.titlinggothicfbnarrbold {
  font-family: 'Titling Gothic FB Narr';
  font-style: normal;
  font-weight: bold;
}


.titlinggothicfbskylinelight {
  font-family: 'TitlingGothicFBSkylineLt';
  font-style: normal;
  font-weight: normal;
}


.smcp {  
  font-feature-settings: 'smcp' on, 'c2sc';
  -moz-font-feature-settings: 'smcp' on, 'c2sc';
  -webkit-font-feature-settings: 'smcp' on, 'c2sc';
  // text-transform: lowercase;
  letter-spacing: 0.05em;
}








/*Portfolio Masonary*/


/* Text */
.main-title {
    text-transform: uppercase;
}

.main-description {
    font-family: TiemposText, Georgia, serif; 
    display: block;
}

.sub-title {
    font-family: 'Titling Gothic FB Ext Thin', 'Helvetica Neue', Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: rem-calc(50);
}

.sub-description {
    font-family: TiemposText, Georgia, serif; 
}



/* Images */
.router-image {
  background-repeat: no-repeat;
  background-size: 1028px 273px;
  background-position: center;
  height: 273px;
  max-width: 1028px;
  margin: 0 auto;
}

.router-image-onhover {
  background-repeat: no-repeat;
  background-size: 1028px 273px;
  background-position: 50% 50%;
  height: 273px;
  max-width: 1028px;
  margin: 0 auto;
}

.image-router-seagate {
  background-image: url('../assets/images/portfolio-spread-seagate.jpg')
}
.image-router-seagate-hover {
  background-image: url('../assets/images/portfolio-spread-seagate-blur.jpg')
}
.image-router-abm {
  background-image: url('../assets/images/portfolio-spread-abm.jpg')
}
.image-router-abm-hover {
  background-image: url('../assets/images/portfolio-spread-abm-blur.jpg')
}
.image-router-ip {
    background-image: url('../assets/images/portfolio-spread-ip.jpg')
}
.image-router-ip-hover {
    background-image: url('../assets/images/portfolio-spread-ip-blur.jpg')
}
.image-router-fluke {
    background-image: url('../assets/images/portfolio-spread-fluke.jpg')
}
.image-router-fluke-hover {
    background-image: url('../assets/images/portfolio-spread-fluke-blur.jpg')
}
.image-router-fusion {
    background-image: url('../assets/images/portfolio-spread-fusion.jpg')
}
.image-router-fusion-hover {
    background-image: url('../assets/images/portfolio-spread-fusion-blur.jpg')
}

/* Container */
.router {
    padding-bottom: 4px;
    width: 100%;
}

/* Link Overlay */
.block-link {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 50;
}

.router-navigation-block-text {
    width: 100%;
    text-align: center;
    position: absolute;
    // top: 50%;
    // -webkit-transform: translate3d(0, -5%, 0);
    // transform: translate3d(0, -5%, 0);
    // -webkit-transition: -webkit-transform 0.4s ease;
    // transition: transform 0.4s ease;
}

.router-navigation-block-text {
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
}
.router-navigation-block-title {
    margin-bottom: 6px
}
.router .router-navigation .router-navigation-block .router-navigation-block-description {
    // opacity: 0;
    // -webkit-transition: opacity 0.4s ease;
    // transition: opacity 0.4s ease;
}
.router-navigation-block-description {
    opacity: 1
}

// .router-image-onhover-seagate {
//     position: absolute;
//     top: 0;
//     left: 15px;
//     bottom: 0;
//     right: 0;
//     opacity: 0;
//     -webkit-transition: opacity 0.3s ease;
//     transition: opacity 0.3s ease;
//     -webkit-transform: translateZ(0);
//     transform: translateZ(0)
// }

.router-navigation-block:hover {
    -webkit-transition: background 0.4s ease;
    transition: background 0.4s ease;
    text-decoration: none
}
.router-navigation-block-text {
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -45%, 0);
    transform: translate3d(0, -45%, 0);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
    color: $white;
}
.router-navigation-block-title {
    margin-bottom: 6px;
}
.router-navigation-block-description {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

/* router navigation */

.router-navigation-block:hover .router-image-onhover {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease
}

.router .router-navigation .router-navigation-block:hover {
    -webkit-transition: background 0.4s ease;
    transition: background 0.4s ease;
    text-decoration: none
}
.router .router-navigation .router-navigation-block:hover .router-navigation-block-text {
    text-align: center;
    // position: absolute;
    // top: 50%;
    // -webkit-transform: translate3d(0, -45%, 0);
    // transform: translate3d(0, -45%, 0);
    // -webkit-transition: -webkit-transform 0.4s ease;
    // transition: transform 0.4s ease
}
.router .router-navigation .router-navigation-block:hover .router-navigation-block-title {
    margin-bottom: 6px
}
.router .router-navigation .router-navigation-block:hover .router-navigation-block-description {
    opacity: 1;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease
}
.router .router-navigation .router-navigation-block:hover .router-image-onhover {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease
}

/* router block */

.router .router-block .router-navigation-block-text {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0)
}
.router .router-block .router-navigation-block-description {
    opacity: 0
}

.router .router-block:hover {
    -webkit-transition: background 0.4s ease;
    transition: background 0.4s ease;
    text-decoration: none
}
.router .router-block:hover .router-navigation-block-text {
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
    -webkit-transition: none;
    transition: none
}
.router .router-block:hover .router-navigation-block-description {
    -webkit-transition: none;
    transition: none;
    opacity: 0
}
.router .router-block:hover .router-image-onhover {
    -webkit-transition: none;
    transition: none
}












/* Full Width */

.full-width-image {
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: 50% 0%;
  max-width: 1440px;
  min-height: 440px;                                  
  margin-left: auto;
  margin-right: auto;
}

.full-width {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

/* Colors */
.srs {
  color: $srs;
}

.abm {
  color: $abm;
}

/* Font Choice */

.light {
  font-family: 'Titling Gothic FB Narr Light', 'Helvetica Neue', Helvetica, sans-serif
}
.bold {
  font-family: 'Titling Gothic FB Narr', 'Helvetica Neue', Helvetica, sans-serif
}
.wide {
  font-family: 'Titling Gothic FB Ext Thin', 'Helvetica Neue', Helvetica, sans-serif
}

/* Headings */

.heading {
  font-family: 'Titling Gothic FB Narr Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: rem-calc(26);
  text-transform: uppercase;
}

.heading-callout {
  font-family: 'Titling Gothic FB Narr Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: rem-calc(42);
  border: none;
  padding: 0;
}

.subheading-icon {
  text-transform: uppercase;
  font-size: rem-calc(16);
  font-family: 'Titling Gothic FB Narr', 'Helvetica Neue', Helvetica, sans-serif;
}

.subheading-icon-small {
  text-transform: uppercase;
  font-size: rem-calc(16);
  font-family: 'Titling Gothic FB Narr', 'Helvetica Neue', Helvetica, sans-serif;
  color: $white;
}

.subheading-small {
  text-transform: uppercase;
  font-size: rem-calc(16);
  margin-top: 40px;
  margin-bottom: 9px;
  font-family: 'Titling Gothic FB Narr', 'Helvetica Neue', Helvetica, sans-serif;
  color: $white;
}

h2 + p {
  margin-top: 0px !important;
}

.subheading {
  font-family: 'Titling Gothic FB Narr Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: rem-calc(26);
  line-height: 1;
  text-shadow: 0 0 30px rgba(0,0,0,0.5);
}

.text-callout {
  font-size: rem-calc(24);
}

/* Paragraphs */

p {
  line-height:1.425;
  margin-bottom: 18px;
}

p:first-of-type {
  margin-top: 18px;
}

p:last-of-type {
  margin-bottom: 0;
}

/* Contact */
.contact {

}

.contact-text-thanks {
  margin-top: 18px !important;
}

/* ` */
.hero-srs {
  background-image: url('../assets/images/hero-seagate.jpg');
  color: $white;
  padding: 82px 0;  
}

.hero-abm {
  background-image: url('../assets/images/hero-abm.jpg');
  color: $white; 
}

.hero-fluke {
  background-image: url('../assets/images/hero-fluke.jpg');
  color: $white;
}

.hero-ip {
  background-image: url('../assets/images/hero-iron-point.jpg');
  color: $white; 
}

.hero-io {
  background-image: url('../assets/images/hero-fusion-io.jpg');
  color: $white; 
}

.hero-name {
  font-size: rem-calc(75);
}

.hero-divider {
  width: 10%;
  margin: 0 auto;
  border: 0;
  border-top-width: 2px;
  border-top-style: solid;
}

.hero-divider-srs {
  border-color: #6ebf4b;
}

.hero-divider-abm, .hero-divider-io {
  border-color: rgba(255,255,255,0.5);
}

.hero-divider-fluke {
  border-color: #ffd200;
}

.hero-divider-ip {
  border-color: #f37742;
}

.hero-divider:last-of-type {
  margin-bottom: 21px;
  margin-top: 0;
}

/* Caption */
.portfolio-figcaption {
  margin-top: 10px;
  line-height: 1.4;
  color: #aaa;
}

.portfolio-figcaption-credit {
  margin-top: 2px;
  line-height: 1.4;
  color: #aaa;
  font-size: rem-calc(13);
}

/* Sidebar Pull Quote */
.portfolio-pullquote-first {
  padding-right: 40px;
}

.portfolio-pullquote-last {
  padding-left: 40px;
}

.portfolio-blockquote:before {
  color: $srs;
  content: open-quote;
  font-size: rem-calc(50);
  line-height: 0em;
  margin-right: 0.05em;
  vertical-align: -0.35em;
  font-family: 'Titling Gothic FB Narr Blk', 'Helvetica Neue', Helvetica,sans-serif;
  padding-right: 3px;
}

.portfolio-blockquote {
  font-size: rem-calc(25);
  font-family: 'Titling Gothic FB Narr Light', 'Helvetica Neue', Helvetica,Arial,sans-serif;
  display: block;
  padding-top: 40px;
  line-height: 1.35;
  quotes: '\201C' '\201D';
  border-top: 2px solid #efefef;
  margin-top: 6px;
}

.portfolio-blockquote-figcaption {
  font-size: 12px;
  margin-top: 30px;
  line-height: 1.5;
  width: 80%;
}

/* Testimonial */
.portfolio-big-pullquote-middle {
  background: $white;
  color: $night-black;
  padding: 50px 80px 40px 80px;
}

.portfolio-big-pullquote-middle:after {
  content: '';
  width: 0;
  height: 0;
  border-top-width: 35px;
  border-top-style: solid;
  border-top-color: $white;
  border-right: 50px solid transparent !important;
  position: relative;
  top: 75px;
  left: 35px;
  display: block;
}

.portfolio-big-blockquote p {
  font-size: rem-calc(24);
}

.portfolio-big-blockquote-figcaption {

}

.portfolio-bg-alter {
  background: #eee;
}

.about-blockquote:before {
  color: $night-black;
  content: open-quote;
  font-size: rem-calc(50);
  line-height: 0em;
  margin-right: 0.05em;
  vertical-align: -0.35em;
  font-family: 'Titling Gothic FB Narr Blk', 'Helvetica Neue', Helvetica, sans-serif;
  padding-right: 3px;
}

.about-blockquote {
  font-size: rem-calc(25);
  font-family: 'Titling Gothic FB Narr Light', 'Helvetica Neue', Helvetica, sans-serif;
  display: block;
  padding-top: 40px;
  line-height: 1.35;
  quotes: '\201C' '\201D';
  //border-top: 2px solid #efefef;
  margin-top: 6px;
}

/* recap */

.recap {
  background: #f9f9f9;
}

.recap-srs {
  color: $white;
  padding: 90px 0;
}

.recap-abm {
  background: none;
  padding: 0;
}

.recap a {
  color: $white;
}

.recap-title {
  line-height: 1.2;
}

.recap-divider {
  width: 40%;
  border: 0;
  border-top: 2px solid $white;
}

.recap-list {
  line-height: 1.7;
  font-size: rem-calc(16);
  list-style: none;
}

.recap-list-title {
  font-family: 'Titling Gothic FB Narr', 'Helvetica Neue', Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: rem-calc(15);
}

.recap-last-list-item {
  margin-bottom: 30px;
}

/* Tools */

.tools {
  background: $white;
  color: $night-black;
  padding: 80px 0 100px;
}

.tools img {
  padding: 20px;
}

.tools-column {
  margin-right: 47px;
}

.tools-column:last-child {
  margin-right: 0;
}

.tools-title {
  color: $night-black;
}

.tools-a, .tools-b, .tools-c {
  display: block;
}

.tools-a, .tools-c {
  font-size: rem-calc(20);
}

.tools-c {
  font-size: 14px;
  color: #ccc;
  line-height: 1.3;
  margin-top: 20px;
}

.tools-b {
  font-family: 'Titling Gothic FB Narr Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: rem-calc(21);
  margin: 10px 0 12px;
  color: $night-black;
}

/* Stats */

.stats {
  background: $white;
  color: $night-black;
  padding: 80px 0 100px;
}

.stats-column {
  border-right: 3px solid #494949;
}

.stats-column:last-child {
  border-right: none;
}

.stats-title {
  margin-bottom: 40px;
  color: $night-black;
}

.stats-a, .stats-b, .stats-c {
  display: block;
}

.stats-a, .stats-c {
  font-size: rem-calc(20);
}

.stats-b {
  font-family: 'Titling Gothic FB Ext Thin', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: rem-calc(50);
  margin: 20px 0 12px;
  color: $srs;
}

/* Carousel */

.carousel {
  background: $white;
  color: $night-black;
  padding: 100px 0 100px;
}

/* Benjamin */

#comments {
  min-height:800px;
  float:right;
  position:relative;
}

.comment {
  position:absolute;
  top:0;
  left:0;
  opacity:0;
  z-index: 1;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.comment.active {
  opacity:1;
  z-index: 2;
}

.comment-title {
  padding-top: 30px;
  font-family: 'Titling Gothic FB Narr Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.comment-subtitle {
  color: #cccccc;
  font-family: 'Titling Gothic FB Narr Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: rem-calc(24);
  margin: 5px 0 20px 0;
  text-transform: uppercase;
}

.comment-timeline {
  list-style: none;
  padding: 12px 0 12px 0px;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
}

.comment-timeline li {
  font-family: 'Titling Gothic FB Narr Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1.25rem;
  color: #cccccc;
  display: inline;
  margin-right: 30px;
}

.active-timeline {
  color: $srs !important;
}

.comment-text {
  margin-top: 20px;
}

#slide_wrapper {
width:calc(70% - 10px);
width:calc(70% - 1rem);
min-height:600px;
height:auto;
float:left;
position:relative;
}

#slides {
width:100%;
min-height:600px;
height:auto;
float:left;
position:relative;
padding:10px;
padding:1rem;
}

.slide {
width:100%;
position:absolute;
top:0;left:0;
opacity:0;
z-index: 1;
// -webkit-transition: opacity 0.4s 0.1s ease-in-out;
// -moz-transition: all 0.1s ease-in-out;
// transition: all opacity 0.4s 0.1s ease-in-out;
}

.slide.active {
opacity: 1;
z-index: 2;
}

#slide_controls {
  width: 100%;
  position: absolute;
  z-index: 10;
}

.slide_control {
  height: 70px;
  width: 70px;
}

.control_prev {
  position: absolute;
  z-index: inherit;
  left:-35px;
  top: 230px;
}

.control_next {
  position: absolute;
  z-index: inherit;
  right: -35px;
  top: 230px;
}

.slide_control:first-of-type {
  float: left;
}

.slide_control:last-of-type {
  float: right;
}

.slide_control a {
  display:block;
  width:100%;
  height:100%;
  float:left;
}

#previous_slide, #next_slide {
  background-size: 16px 40px;
  border-radius: 40px;
}

#previous_slide {
  background: $srs url('/assets/images/portfolio-left-arrow.png') no-repeat 46% 50%;
  display: none;
}

#next_slide {
  background: $srs url('/assets/images/portfolio-right-arrow.png') no-repeat 56% 50%;
}

#next_slide:hover {
  background-position: 57% 50%;
}

#previous_slide:hover {
  background-position: 45% 50%;
}

#next_slide:active {
  background-position: 58% 50%;
}

#previous_slide:active {
  background-position: 46% 50%;
}

#previous_slide, #next_slide, #previous_slide:hover, 
#next_slide:hover, #next_slide:active, #previous_slide:active {
  background-size: 16px 40px;
}

/* Browser UI */

.fake-browser-ui {
  padding-top: 24px;
  border-radius: 3px;
  background: #ccc;
  display: inline-block;
  position: relative;
}

.fake-browser-ui .frame {
  display: block;
  height: 16px;
  position: absolute;
  top: 7px;
  left: 3px;
}
 
.fake-browser-ui span {
  height: 9px;
  width: 9px;
  border-radius: 9px;
  background-color: #eee;
  float: left;
  margin: 0 0 0 6px;
}

/* Footer */

.footer {
  font-family: 'Titling Gothic FB Narr Light', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: rem-calc(18);
}

.footer a {
  color: $white;
}

.footer-nav {
  color: $white;
  display: block;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 0px;
}

.footer-nav-items {
  display: inline;
  margin-right: 5px;
}

.footer-nav-items a {
  text-decoration: none;
}

.footer-nav-items:after {
  content: '\00B7';
  margin-left: 5px;
}

.footer-nav-items:last-of-type:after {
  content: '';
}

.footer-credits {
  text-align: right;
  margin-right: 0;
}

.footer-copyright {
  vertical-align: middle;
}

.footer-text {
  font-family: 'Titling Gothic FB Narr', 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1.4;
}

/* form */

button, button:hover, button:focus, .button:hover, .button:focus {
  background-color: $blue;
  border: none;
}

/* tiny screens */
@media only screen and (max-width: 22em) {

.name { 
  font-size: rem-calc(26);
}

.title {
  font-size: rem-calc(32);
}

.nav li {
  font-size: rem-calc(19);
}
  }

/* small screens */
@media only screen and (max-width: 40em) { 

/* global */
html {
  font-size: rem-calc(15);
}

/* header */
.header {
  margin: 30px 0 10px 0;
  text-align: center;
}

.name {
  font-size: rem-calc(30);
}

.title {
  font-size: rem-calc(32);
}

/* nav */
.nav {
  text-align: center;
  margin: 10px 0 30px 0;
}

.nav li:after {
  font-size: rem-calc(18);
  vertical-align: 0px;
}

/* full-width */

.full-width-image {
  min-height: 240px;                                  
}

/* images */

.portfolio-picto {
  margin-top: 30px;
}

/* typography */

.heading {
  font-size: rem-calc(21);
}

.heading-callout {
  font-size: rem-calc(24);
}

.subheading-icon {
  margin: 16px 0 -12px;
}

.box {
  color: red !important;
}

/* images */

.exhibit-circle {
  margin-top: 20px;
}

/* contact */
.contact-day, .contact-day-figcaption, .contact-night-figcaption {
  display: none;
}

.contact-heading {
  margin-top: 18px;
}

.contact-text {
  margin: 18px 0 !important;
  font-size: rem-calc(18) !important;
}

/* hero */
.hero-abm {
  padding: 30px 0 0 0;
}

.hero-fluke, .hero-ip, .hero-io {
  padding: 30px 0;  
}

.hero-name {
  margin: 14px 0;
  font-size: rem-calc(48);
}

.hero-divider {
  margin-top: 20px;
}

/* recap */

.recap {
  padding: 0;
}

.recap-title {
  margin-bottom: 18px;
}

.recap-list {
  line-height: 1.5;
  margin: 10px 0;
}

.recap-last-list-item {
  margin-bottom: 20px;
}

/* caption */

.portfolio-figcaption, .portfolio-figcaption-credit {
  font-size: rem-calc(11);
}


/* footer */

.footer {
  font-size: rem-calc(20);
}

.footer-nav {
  text-align: center;
  margin-bottom: 4px;
}

.footer-credits {
  text-align: center;
  margin-right: 10px;
}

/* bumps */

.bump-30 {
  margin-bottom: 30px;
}

.bump-60 {
  margin-bottom: 30px !important;
}

.bump-90 {
  margin-bottom: 30px !important;
}

/* spread */
.main-title {
    font-family: 'Titling Gothic FB Narr', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: rem-calc(50);
    line-height: 1.2;
}

.main-description {
    margin-top: -6px;
}

.router-image-onhover {
  display: none;
}

.router .router-navigation .router-navigation-block .router-navigation-block-description {
    opacity: 1;
    -webkit-transition: none;
    transition: opacity none;
}

.router-navigation-block-text {
    top: 37%;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
}

.router-navigation-block-title {
  margin-bottom: 0px;
}

.router .router-navigation .router-navigation-block:hover .router-navigation-block-title {
    margin-bottom: 0px
}

  } 

/* medium screens */
@media only screen and (min-width: 40.063em) { 

/* global */
html {
  font-size: rem-calc(17);
}

/* header */
.header {
  margin: 30px 0 20px 0;
  text-align: center;
}

.name {
  font-size: rem-calc(24);
}

.title {
  font-size: rem-calc(26);
}

/* nav */
.nav {
  text-align: center;
  margin: 40px 0;
  font-size: rem-calc(17);
}

.nav li:after {
  font-size: rem-calc(20);
  vertical-align: -1px;
}

/* full-width */

.full-width-image {
  min-height: 292px;                             
}

/* typography */

.heading {
  font-size: rem-calc(24);
}

.heading-callout {
  font-size: rem-calc(32);
  // border-top: 1px solid $white;
  // border-bottom: 1px solid $white;
  padding: 0;
}

.subheading-icon {
  margin-top: 30px;
}

/* contact */
.contact-day, .contact-day-figcaption, .contact-night-figcaption {
  display: none;
}

.contact-heading {
  margin-top: 18px;
}

.contact-text {
  margin: 18px 0 !important;
  font-size: rem-calc(18) !important;
}

/* images */

.portfolio-picto {
  margin-top: 42px;
}

/* hero */
.hero-abm {
  padding: 30px 0 0 0;
}

.hero-fluke, .hero-ip, .hero-io {
  padding: 30px 0;
}

.hero-name {
  margin: 14px 0;
}

.hero-divider {
  margin-top: 20px;
}

/* recap */

.recap-title {
  margin-bottom: 18px;
}

.recap-list {
  line-height: 1.4;
  margin-bottom: 20px;
}

.recap-list-title {
  font-size: rem-calc(14);
}

.recap-last-list-item {
  margin: 0;
}

/* caption */

.portfolio-figcaption {
  font-size: rem-calc(12);
}

/* footer */

.footer {
  font-size: rem-calc(17);
}

.footer-nav {
  text-align: center;
  margin-bottom: 4px;
}

.footer-credits {
  text-align: center;
  margin-right: 10px;
}

/* bumps */

.bump-30 {
  margin-bottom: 30px;
}

.bump-60 {
  margin-bottom: 40px !important;
}

.bump-90 {
  margin-bottom: 70px !important;
}

/* spread */

.main-title {
    font-family: 'Titling Gothic FB Narr', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: rem-calc(60);
    line-height: 1.1;
}

.main-description {
    margin-top: -10px;
}

.router-image-onhover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.router .router-navigation .router-navigation-block .router-navigation-block-description {
    opacity: 1;
    -webkit-transition: none;
    transition: opacity none;
}

.router-navigation-block-text {
    top: 37%;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    transition: none;
}


  }


/* large screens */
@media only screen and (min-width: 64.063em) {

  /* header */
.header {
  margin: 73px 0 0 102px;
  text-align: left;
}

.name {
  font-size: rem-calc(35);
}

.title {
  font-size: rem-calc(37);
}

/* nav */
.nav {
  text-align: right;
  margin: 85px 95px 90px 0;
}

.nav li {
  font-size: rem-calc(21);
}

.nav li:after {
  font-size: rem-calc(30);
  vertical-align: -2px;
}

/* contact */
.contact-text {
  margin: -7px 0 20px !important;
  font-size: rem-calc(18);
}

.contact-heading {
  margin-top: -7px;
}

/* contact */
.contact-night-figcaption {
  margin-top: 10px;
  line-height: 1.4;
  display: block;
  font-size: rem-calc(12);
  width: 55%;
  color: #aaa;
}

/* hero */
.full-width-image {
  min-height: 440px; 
}

.hero-abm, .hero-fluke, .hero-ip, .hero-io {
  padding: 140px 0;  
}

.hero-name {
  margin: 18px 0 20px;
}

.hero-divider {
  margin-top: 20px;
}

/* headings */

.heading {
  font-size: rem-calc(26);
}

.heading-callout {
  font-size: rem-calc(42);
  border: none;
  padding: 0;
}

.subheading-icon {
  margin-top: 54px;
}

/* images */

.portfolio-figcaption {
  font-size: rem-calc(13);
}

/* recap */

.recap-list-title {
  font-size: rem-calc(15);
}

.recap-last-list-item {
  margin-bottom: 30px;
}

.recap-last-list-item-end {
  margin-bottom: 0;
}

.recap-list {
  margin-bottom: 0;
}

/* spur */
.spur {
  text-align: center;
  background: $white;
  color: $night-black;
  padding: 90px 0;
}

.spur-client {

}

.spur-logo {
  padding: 60px;
}

.spur-title {
  font-size: rem-calc(24);
}

.spur-description {
 padding: 0 30px;
 margin-top: 4px !important;
}

/* footer */
.footer {
  font-size: rem-calc(18);
}

.footer-nav {
  text-align: left;
  margin-bottom: 0px;
}

.footer-credits {
  text-align: right;
  margin-right: 0;
}

/* bump */

.bump-30 {
  margin-bottom: 30px !important;
}

.bump-60 {
  margin-bottom: 60px !important;
}

.bump-90 {
  margin-bottom: 120px !important;
}

/* spread */

.router-image-onhover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

.router .router-navigation .router-navigation-block .router-navigation-block-description {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease;
    transition: opacity 0.4s ease;
}

.router-navigation-block-text {
    top: 50%;
    -webkit-transform: translate3d(0, -5%, 0);
    transform: translate3d(0, -5%, 0);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease;
}

.router .router-navigation .router-navigation-block:hover .router-navigation-block-text {
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(0, -45%, 0);
    transform: translate3d(0, -45%, 0);
    -webkit-transition: -webkit-transform 0.4s ease;
    transition: transform 0.4s ease
}

.main-title {
    font-family: 'Titling Gothic FB Narr', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: rem-calc(70);
    line-height: 1;
}

.main-description {
    margin-top: -9px;
}



}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
  
/* Retina Images */
.hero-srs {
  background-image: url('../assets/images/hero-seagate-x2.jpg');
}

.hero-ip {
  background-image: url('../assets/images/hero-iron-point-x2.jpg');
}

.hero-io {
  background-image: url('../assets/images/hero-fusion-io-x2.jpg');
}


}
