/*
		--- Global Styles ---
/*

/* Navigation */

		nav {
				background: rgba(36, 35, 35, 1);
				margin-top: 40px;
				padding: 20px 0;
				display: block;
				float: left;
				width: 100%; 
				position: relative
		}

		nav .logo {
				margin: 20px;
				font-family: CondensedLight;
				font-weight: 700;
				color: #e4ddda;
				font-size: 1.65em;
				letter-spacing: 1px;
				text-transform: uppercase;
				line-height: 1;
				text-align: center;
		}

		nav .item, nav .item-detail, .footer-item-detail {
				font-family: $whitney;
		}

		nav .item {
				color: $iron-orange;
				font-size: 0.9em;
				text-transform: uppercase;
				letter-spacing: 2px;
				text-align: left;
				margin: 5px 0 2px;
				padding: 0 10px;
		}

		nav .item-detail{
				color: #d5cecb;
				font-size: 0.8rem;
				margin-bottom: 4px;
				padding: 0 10px;
		}

		nav .flank {
				border-right: 1px solid rgba(#fff,0.2);
				border-left: 1px solid rgba(#fff,0.2);
		}

		/* nav Links */

		.logo a, nav .item, nav .item-detail {
				transition: color 0.4s ease;
		}

		nav .logo a {
				color: #e4ddda;
		}

		.item-select:hover .item {
				color: #ff7438;
				display: block;
		}

		.logo a:hover, .item-select:hover .item-detail {
				color: #efefef;
		}

/* Footer */
footer {
	height: 25em !important;
	clear: both;
	background: rgba( $iron-black, .9 );
	padding: 60px 0;
}
		.footer-logo {
				margin-bottom: 30px;
				color: #ccc;
				font-weight: 700;
				font-family: $vitesse;
				text-transform: uppercase;
				letter-spacing: 1px;
		}

		footer .logo a {
				color: #e4ddda;
		}

		footer .item {
				color: #f37742;
				font-size: 0.8em;
				text-transform: uppercase;
				letter-spacing: 2px;
				text-align: center;
				margin: 10px 0 2px;
				padding: 10px;
				border: 2px solid #444;
				font-family: $vitesse;
		}

		.footer-item-detail {
				color: #aaa;
				font-size: 0.8rem;
				margin-top: 14px;
		}

		footer .social {
				font-size: 0.8em;
				color: #aaa;
				font-weight: 300;
				margin: 14px 0;
		}

		footer .social:first-of-type {
				margin-top: 30px;
		}

		footer .social a:link, footer .social a:visited, footer .social a:active, footer .social a:hover {
				color: #ddd;
		}
.social img{
		width: 60px;
		height: auto;
}
/* Captions */

		figure {
				margin: 0 0 40px;
				padding: 0;
		}

		figcaption {
				display: block;
				margin: 14px 0;
				padding-left: 6px;
				font-size: 0.8em;
				color: #666;
				border-left: 1px solid #efefef;
				text-align: left;
				line-height:1.5;
		}

/* Lists */

		ul {
			list-style-position: inside;
			padding:0;
			margin-left: 33px;
		}

		li {
		margin-bottom: 16px;
		}

		li:before {

		}

/* Disqus */

		#disqus_thread {
				margin: 60px 0;
		}

/* Typography */

		.intro-paragraph {
				font-size: rem-calc(22);
				font-weight: 300;
		}

		h2 {

		}

		blockquote {
				font-size: 1.25em;
				font-style: italic;
				font-family: $whitney;
				display: block;
				padding: 30px;
				line-height: 1.55;
				quotes: "\201C""\201D";
		}

		blockquote:before {
				color: #222;
				content: open-quote;
				font-size: 4em;
				line-height: 0em;
				margin-right: 0.05em;
				vertical-align: -0.4em;
				font-weight: 700;
				font-family: $vitesse;
				font-style: normal;
		}

		blockquote p {
				display: inline;
				font-weight: 100;
		}

/* Document */

		.document-intro {
				margin: 60px 0 100px;
		}
		.document-header {
				font-size: 1.5em;
				margin-bottom: 20px;
				font-weight: 600;
				border-bottom: 1px solid #efefef;
				padding-bottom: 10px;
		}
		.document-subheader {
				font-size: 1em;
				margin-bottom: 2px;
				font-weight: 600;
				text-transform: uppercase;
		}
		.document-sub-subheader {
				font-size: 1em;
				font-weight: 600;
				margin-top: 14px;
				//text-transform: uppercase;
		}
		.document-text {
				font-size: 1.2em;
				line-height: 1.55em;
				margin-bottom: 30px;
		}
		.document-smallprint {
				font-size: 0.75em
		}

		.document-list {
				margin-bottom: 40px;
				font-size: 1.2em;
		}

/*
		--- Blog Styles ---
/*

/* Blog Home */

		.post-list-header {
				margin-top: 60px;
				border-bottom: 1px solid #efefef;
				padding-bottom: 20px;
		}

		.post-list-blog-name {
				font-size: 1em !important;
				text-transform: uppercase;
		}

		.post-list {
				margin-top: 60px;
				border-top: 1px solid #efefef;
				padding-top: 60px;
		}

		.post-list:first-of-type {
				border: none;
				margin: 0;
		}

		.post-list-title {
				font-size: 1.65em;
				font-weight: 300;
				margin-bottom: 10px;
				line-height: 1.375;
		}

		.post-list-intro {
				font-size: 1.25em;
		}

		.post-list-author-date {
				font-size: 0.7em;
				color: #aaa;
		}

		.post-mailer {
				font-size: 2em;
				margin-top: 20px;
		}

/* Blog Post */


		.post h1 {
				margin: 20px 0 30px;
				font-size: 3.25em;
				font-weight: 300;
				text-align:center;
		}

		.post h2 {
				font-size: 0.75em;
				color: #aaa;
				text-align: center;
				margin-bottom: 1rem;
		}

		.post h3 {
				margin-bottom: 5px;
				font-size: 1.25em;
				font-weight: 700;
		}

		.post h4 {
				margin-top: 60px;
				color: #aaa;
				font-size: 0.85em;
				text-align: center;
				font-style: normal;
				font-weight: 100;
}

		.post p, .post ul {
				font-size: 1.2em;
				line-height: 1.58em;
				margin-bottom: 30px;
		}

		.post img {
				width: 100%;
		}

		.next-post {
				text-transform: uppercase;
				letter-spacing: 1px;
				line-height: 2;
				display: block;
		}

		.next-link {
				line-height:1.35;
		}

/* Case Study Styles */

		/* Global */

		.case-title {
				font-size: 0.9em;
				font-weight: 300;
				margin: 20px 0 10px;
				padding-bottom: 4px;
				//border-bottom: 1px solid #efefef;
				color: #aaa;
				text-transform: uppercase;
				letter-spacing: 1px;
		}

		/* Case Study Header */

		.case-header {
				padding: 0;
				margin-top: 80px;
		}

		.case-header-lower {
				margin-top: 40px;
				padding: 0;
		}

		.case-header-logo {
				border-radius: 50%;
				width: 100px !important;
				height: 100px;
				margin: -19px 0 0 50px;
		}

		.seagate-logo {
				background: transparent url('../assets/images/case-seagate-01.png') 50% center no-repeat;
				background-size: 95px 86px;
		}

		.fluke-logo {
				background: #ffb20e url('../assets/images/case-fluke-01.png') 50% center no-repeat;
				background-size: 100px 34px;
		}

		.fusion-logo {
				background: transparent url('../assets/images/case-fusion-01.png') 50% center no-repeat;
				background-size: 95px 91px;
		}

		.case-header-title {
				font-size: 2.75em;
				font-weight: 300;
		}

		.case-header-subtitle {
				margin-bottom: -10px;
		}

		/* Case Intro */

		.case-intro {
				padding: 10px 0;
				margin-top: 20px;
		}

		/*Case Quote */

		.case-side-quote {
			background: #e1f0f0;
			padding: 25px 25px 0 25px;
			border-radius: 1px;
			margin: 0;
			color: #5d9c9a;
			&:after {
				content: "";
				width: 0;
				height: 0;
				border-top-width: 35px;
				border-top-style: solid;
				border-top-color: #e1f0f0;
				border-right: 50px solid transparent !important;
				position: relative;
				top: 35px;
				left: 35px;
				display: block;
			}
			p {
				font-size: 0.8em;
				margin:0 0 10px;
			}
		}

		.case-side-student {
			margin-top: 40px;
				.case-side-photo {
				background-color: #e7e7e7;
				border-radius: 50%;
				width: 60px;
				height: 60px;
				float: left;
				margin-right: 10px;
				background: url(../assets/images/case-seagate-02.png) 50% center;
			}
			p{
				position: relative;
				top: 5px;
				text-transform: uppercase;
				margin-bottom: 0;
				font-size: 0.8em;
				&:nth-child(2) {
					font-size: 0.8em;
					font-weight: 600;
					margin-bottom: -4px;
				}
				&:nth-child(3) {
					color: #777;
					font-size: 0.8em;
				}
			}
		}

		/*Case Map*/

		.case-map {
				margin-top: 20px;
		}

		#map {
			margin-top: 10px;
		}

		.leaflet-container {
				font-family: $whitney !important;
		}

		.leaflet-control-attribution {
				opacity: 0.3 !important;
				font-size: 0.7em;
				background-color: rgba(255,255,255,0) !important
				}

		.mapbox-improve-map {
				display: none !important;
				}


		/* Case Timeline */

		.case-timeline {
				z-index:1;
				margin-top: 30px;
		}

		ol.timeline {
				position: relative;
				display: block;
				margin: 90px 0 70px;
				height: 4px;
				background: #e1f0f0;
				line-height: 1;
		}

		ol.timeline li {
				position: relative;
				top: -65px;
				left: 50px;
				display: inline-block;
				float: left;
				width: 120px;
				transform:rotate(-45deg);
				-ms-transform:rotate(-45deg); /* IE 9 */
				-webkit-transform:rotate(-45deg); /* Opera, Chrome, and Safari */
				text-indent: 0;
				color: #777;
		}

		ol.timeline li::before {
				content: "";
				position: absolute;
				top: 3px;
				left: -29px;
				display: block;
				width: 6px;
				height: 6px;
				border: 1px solid #f27640;
				border-radius: 8px;
				background: #fff;
				padding: 5px;
				text-indent: 0;
		}

		.details {
				display: none;
				z-index:2;
				position: absolute;
				left: -137px;
				top: 73px;
				padding: 20px;
				border-radius: 3px;
				border-right: 2px solid rgba(0,0,0,.1);
				border-bottom: 2px solid rgba(0,0,0,.1);
				transform:rotate(45deg);
				-ms-transform:rotate(45deg); /* IE 9 */
				-webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
				font-size: 0.8em;
				font-weight: 400;
				line-height: 1.4;
				background: #333;
				width: 221px;
		}

		.details::before {
				content: "";
				position: absolute;
				left: 10px;
				top: -9px;
				display: block;
				width: 0;
				height: 0;
				border: 10px solid transparent;
				border-bottom-color: #333;
				border-top: 0;
		}

		ol.timeline li:hover {
				cursor: pointer;
			color: #333;
		}

		ol.timeline li:hover::before {
				top: 1px;
				left: -31px;
				width: 8px;
				height: 8px;
				border-width: 3px;
				border-color: #f27640;
				border-radius: 10px;
		}

		ol.timeline li:hover .details {
				display: block;
			color: #fff;
		}

		/* Case Full Image */

		.case-full-image {
				margin-top: 30px;
		}

/* About Us Styles */

.about-intro {
		margin-top: 80px;
		font-family: $vitesse;
		font-weight: 100;
		font-size: 2em;
		color: $dark-grey;
}

.platform-logos {
		border-bottom: 1px solid #efefef;
}

/* Experimental */

				.full-image {
						width: 100%;
						max-width: 100%;
						background: transparent url("../assets/images/xxx.jpg");
						background-attachment : fixed;
						background-position   : top center;
						height: 400px;
				}


.header-subtle {
				color: #aaa;
				text-transform: uppercase;
				letter-spacing: 1px;
}

.header-subtle {
				color: #aaa;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-weight: 300;
}

.mp-header {
		width: 100%;
		max-width: 100%;
		background-color: transparent;
		background-image: linear-gradient(rgba(243, 119, 66, 1), rgba(0, 0, 0, 0.25)), url('../assets/images/melting.jpg');
		background-clip: border-box, border-box;
		background-origin: padding-box, padding-box;
		background-repeat: repeat, no-repeat;
		background-position: center center, 100% 40%;
		background-attachment: fixed;
		height: 300px;
		background-size: cover;
}
.mp-mast {
		margin-top: 65px;
		font-size: 1.25em;
}


.melting {
		font-size: 2.45em;
		font-weight: 300;
		font-style: italic;
		text-transform: uppercase;
		color: #fff;
}

.point {
		font-family: $vitesse;
		font-size: 3.1em;
		font-weight: 700;
		margin-top: -26px;
		text-transform: uppercase;
		color: #fff;
}

.mp-title {
		font-size: 0.8em;
		color: #fff;
		margin: 0 300px;
		font-style: italic;
}

.commercial-break {
		padding: 20px;
		font-size: 0.9em;
		margin: 30px 0 50px 0;
		border-radius: 1px;
		border-color: #efefef;
		border-style: solid;
		border-width: 1px 0;
}

.hollow-button {
		background: none;
		border: 1px solid $iron-orange !important;
		border-radius: 0px;
		color: $iron-orange;
		margin: 0;
		font-family: $vitesse;
		text-transform: uppercase;
		font-weight: 500;
		line-height: 1.1 !important;
}

.hollow-button:hover {
		background: rgba( $iron-orange, .1 );
		color: #ff6c14;
}

.hollow-button:focus {
		outline: none;
}

.commercial-break p, .commercial-break .button  {
		margin: 0;
}

.commercial-break .say {
		margin-bottom: 20px;
		color: $iron-black;
}

.subscribe-bar {
		margin-top: 60px;
		background: #fafafa;
		padding: 50px;
		border-style: solid;
		border-width: 1px 0 0 0;
		border-color: #eee;
}

.subscribe-bar span {
		display: inline-block;
		color: $iron-black;
		margin-top: 11px;
}

#subscribe-field {
		margin: 0;
		border-width: 1px 0 1px 1px;
		border-style: solid;
		border-color: $iron-orange;
		background: #fafafa;
}

::-webkit-input-placeholder {
		color: #ddd;
}

:-moz-placeholder { /* Firefox 18- */
		color: #ddd;
}

::-moz-placeholder {  /* Firefox 19+ */
		color: #ddd;
}

:-ms-input-placeholder {
		color: #ddd;
}

#subscribe-field:focus {
		margin: 0;
		border-width: 1px 0 1px 1px;
		border-style: solid;
		border-color: $iron-orange;
		box-shadow: none;
		background: #fff;
		outline: none;
}

/*about*/

.logo-roll {
		margin-top: 30px;
}

.leadership {
		margin-bottom: 60px;
}

/*contact*/

.contact-header {
		width: 100%;
	max-width: 100%;
	background: #333 url("../assets/images/ip-office.jpg") no-repeat center top;
	height: 800px;
	background-size: 100%;
}

.contact-form {
		margin: 60px 0;
		background: #efefef;
		border: 1px solid #aaa;
		padding: 20px;
}

.contact-form h2 {
		margin: 10px 0px 20px 10px;
		font-weight: 600;
}

.contact-additional figure {
		margin: 60px 0 40px;
}

.contact-additional p {
		font-size: 0.9em
}

.services h3 {
		border-bottom: 1px solid #efefef;
		font-size: 1.1em;
		font-weight: 600;
		margin-bottom: 10px;
		padding: 20px 0;
}

.founder {
		margin: 30px 0 60px;
}

.founder h2 {
		margin: 0;
}

.thank-you {
		margin: 200px 0;
}

.thank-you h1 {
		font-weight: 300;
		font-size: 2.5em;
}

.thank-you p {
		color: #333;
}


@media only screen and (max-width: 40em) {

nav {
		margin: 0;
}

nav .logo {
		margin: 0 0 10px;
}

nav .flank {
		border: none;
}

nav .item {
		text-align: center;
		margin-top: 10px;
}

.intro-paragraph {
		font-size: 1.175rem;
}

#subscribe-field {
		border-width: 1px 1px 0px 1px;
}

.subscribe-bar span {
		margin: 0 0 20px;
		line-height: 1.5;
}

#subscribe-field:focus {
		border-width: 1px 1px 0px 1px;
}

.header-subtle {
		text-align: center;
		margin: 4px 0px 0px 4px;
}

.case-header {
		margin-top: 40px;
}

.case-header-title {
		font-size: 1.5em;
		text-align: center;
}

.case-intro {
		margin-top: 0;
}

li:before {
		content: "";
}

li {
		text-indent: 0;
}

.commercial-break {
		margin: 0;
}

.subscribe-bar {
		margin: 0;
		padding: 20px 15px 30px;
}

figure {
		margin: 10px 0px 20px;
}

figcaption {
		margin: 10px 0px;
}

.mp-header {
		margin-bottom: 10px;
}

.mp-title {
		font-size: 0.75em;
		margin: 0 20px;
}

.post-list {
		padding-top: 10px;
		margin-top: 0;
}

.post-list-intro {
	margin-bottom: 10px;
}

.post-list-title {
	margin-top: 10px;
}

.post {
		margin: 0;
}

.post h1 {
		margin: 40px 0px 10px;
		font-size: 1.5em;
}

.post h2 {
		margin: 10px 0;
}

.post h3 {
		font-size: inherit;
		margin-bottom: 10px;
		font-weight: 800 !important;
}

blockquote {
		font-size: 1em;
}

blockquote:before {
		font-size: 3em;
}

#disqus_thread {
		margin: 0;
}

.next-up {
		margin-bottom: 10px;
}

.about-intro {
	margin-top: 20px;
	font-size: 1.25em;
}

.founder {
		margin: 30px 0px 20px;
}

.contact-form {
		margin: 20px 0px 50px;
}

	footer {
		padding: 40px 0;
			height: auto !important;
	}

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {

nav {
		margin: 0;
}

nav .logo {
		margin: 0 0 14px;
		font-size: 1.5em;
}

nav .flank {
		border: none;
}

nav .item, nav .item-detail {
		text-align: center;
}

.contact-additional figure, .contact-form {
		margin: 30px 0px 40px;
}

.about-intro {
		margin-top: 40px;
		font-size: 1.75em;
}

.logo-roll {
		margin-top: 20px;
}

.services h3 {
		padding: 10px 0px;
}

.founder {
		margin: 30px 0px 20px;
}

.subscribe-bar span {
		margin: 0px;
		line-height: 1.5;
}

.mp-title {
		font-size: 0.75em;
		margin: 0 140px;
}

.post h1 {
		margin-top: 30px;
		font-size: 2.25em;
		line-height: 1.5em;
}

.post {
		margin-top: 0;
}

.case-header {
		margin: 60px 0 0 14px;
}

.case-header-title {
		font-size: 2.2em;
}

footer {
		padding: 50px 0px;
}


}

/* Form Validation */

input.error{
		border-color: #bf4040;
		background: #f2d9d9;
		margin: 0px 0px 1rem;
}
input.error:focus{
		border-color: #bf4040;
		background: rgba(#f2d9d9, 0.3);
}
::-webkit-input-placeholder{
		color: black;
}

:-moz-placeholder { /* Firefox 18- */
		color: black;
}

::-moz-placeholder {  /* Firefox 19+ */
		color: black;
}

:-ms-input-placeholder{
		color: black;
}
.google-map h2{
		font-weight: 700;
		margin-bottom: 10px;
		font-size: 24px;
}
.wrapper{
		min-height: 100%;
		height: auto !important;
		height: 100%;
		margin: 0 auto -0em;
		margin: 0 auto -0em;
}
.push{
		clear: both;
	height: 0;
}
.back-to-top{
		position: fixed;
		bottom: 2em;
		right: 1em;
		text-decoration: none;
		color: #000;
		//background-image: url('../assets/images/back-to-top.png');
		font-size: 12px;
		padding: 1em;
		display: none;
		background-size: 20px 20px;
		background-repeat: no-repeat;
		background-position: center center, center center;
		border-radius: 2px;
		z-index: 9999;
}

.back-to-top:hover {
		border-bottom: 2px solid #ff7438;
}

/* Fix iOS Text Field Border Radius */

input {
		-webkit-appearance: none;
		border-radius: 0;
}

iframe {
	margin-bottom: 0px;
}

/* Titling Gothic */

@font-face {
  font-family: 'CondensedLight';
  src: url("../assets/fonts/TitlingGothicFBCondLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ExtendedLight';
  src: url("../fonts/TitlingGothicFBExtendedLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ExtendedThin';
  src: url("../fonts/TitlingGothicFBExtendedThin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NarrowBlack';
  src: url("../fonts/TitlingGothicFBNarrowBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NarrowLight';
  src: url("../fonts/TitlingGothicFBNarrowLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NarrowThin';
  src: url("../fonts/TitlingGothicFBNarrowThin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NormalBlack';
  src: url("../fonts/TitlingGothicFBNormalBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NormalThin';
  src: url("../fonts/TitlingGothicFBNormalThin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SkylineThin';
  src: url("../fonts/TitlingGothicFBSkylineThin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WideMedium';
  src: url("../fonts/TitlingGothicFBWideMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}