@font-face {
  font-family: 'CondensedLight';
  src: url("assets/fonts/TitlingGothicFBCondLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ExtendedLight';
  src: url("../fonts/TitlingGothicFBExtendedLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ExtendedThin';
  src: url("../fonts/TitlingGothicFBExtendedThin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NarrowBlack';
  src: url("../fonts/TitlingGothicFBNarrowBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NarrowLight';
  src: url("../fonts/TitlingGothicFBNarrowLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NarrowThin';
  src: url("../fonts/TitlingGothicFBNarrowThin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NormalBlack';
  src: url("../fonts/TitlingGothicFBNormalBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NormalThin';
  src: url("../fonts/TitlingGothicFBNormalThin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SkylineThin';
  src: url("../fonts/TitlingGothicFBSkylineThin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WideMedium';
  src: url("../fonts/TitlingGothicFBWideMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}