@font-face
{
  font-family: 'TiemposText';
  font-style: normal;
  font-weight: normal;
  src: url("/assets/fonts/TiemposTextWeb-Regular.woff") format("woff");
}
@font-face
{
  font-family: 'TiemposText';
  font-style: italic;
  font-weight: normal;
  src: url("/assets/fonts/TiemposTextWeb-RegularItalic.woff") format("woff");
}