.tracker-stage {
		background: #282828;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #2E2F2F),
		color-stop(1, #4D4D4D)
);
background-image: -o-linear-gradient(bottom, #2E2F2F 0%, #4D4D4D 100%);
background-image: -moz-linear-gradient(bottom, #2E2F2F 0%, #4D4D4D 100%);
background-image: -webkit-linear-gradient(bottom, #2E2F2F 0%, #4D4D4D 100%);
background-image: -ms-linear-gradient(bottom, #2E2F2F 0%, #4D4D4D 100%);
background-image: linear-gradient(to bottom, #2E2F2F 0%, #4D4D4D 100%);
		margin:0 15px;
		margin:0 .9375rem;
		padding: 0 !important;
		width:216px;
		width:13.5rem !important;
		border-top: 1px solid #bdbbbb;
		border-left: 1px solid #bdbbbb;
		border-right: 1px solid #bdbbbb;
		border-bottom: 1px solid #afaeae;
}
.tracker-waiting{
		background: gray;
		margin:0 15px;
		margin:0 .9375rem;
		padding: 0 !important;
		width:216px;
		width:13.5rem !important;
		background: rgba(51,51,51,.2);
		border-bottom: 1px solid #808080;
}
.tracker-waiting h3{
		margin-top: 244px;
		margin-top: 15.19rem !important;
		margin-bottom: 72px;
		margin-bottom: 4.5rem !important;
}
#days-left{
		float: left;
		line-height:0;
		color:#fafafa;
		margin: 6px 0px 6px 13px;
		margin:0.375rem 1rem .25rem 1.1rem;
		font-weight:300;
		font-size: 12px;
		padding: 8px 0;
		padding: 0.52rem 0px;
}
.progress-bar-wrapper {
		display:block;
		float:left;
		padding:0 !important;
		margin:0 18px;
		margin:0 1.1rem !important;
}

.progress-bar {
		display:block;
		width:13px;
		width: .8125rem;
		height:25px;
		padding:0;
		margin:0 2px 0 0;
		margin:0 .125rem 0 0;
}

.progress-bar:last-of-type {
		margin:0 !important;
		padding: 0;
}
.tracker-main h3 {
		color:#fafafa;
		font-weight:200;
		margin:26px 0 0 13px;
		margin: .625rem .8rem 0 1.1rem;
		font-size:22px;
		font-size:1.375rem;
		float: left;
}
#recovery-attempt-margin{
		line-height: 22px;
		line-height: 1.4rem;
		margin: 14px 0px 13px 16px;
		margin: .9rem 0px .8rem 1.1rem;
}
.tracker-main p {
		float: left;
		line-height: 1rem;
		color: #FAFAFA;
		margin: 10px 0 30px 13px;
		margin: 0.625rem 1rem 1.875rem 1.1rem;
		font-weight: 300;
		font-size: 14px;
		font-size: .875rem;
}
.recovery-status p{
		margin: 10px 0 33px 13px;
		margin: 0.625rem 0px 2rem 1.1rem !important;
}
.day-1{
		background: #d79b06;
}
.day-2{
		background: #c99b0a;
}
.day-3{
		background: #ba9b0f;
}
.day-4{
		background: #a79a15;
}
.day-5{
		background: #919a1c;
}
.day-6{
		background: #7d9a22;
}
.day-7{
		background: #679a29;
}
.day-8{
		background: #509a30;
}
.day-9{
		background: #3c9936;
}
.day-10{
		background: #29993c;
}
.day-11{
		background: #1a9941;
}
.day-12{
		background: #0d9945;
}
.empty{
		border: 5px solid #353535;
		background: none;
}
.failure{
		background: #da9b05;
}
@media only screen and (min-width: 64.063em) {
.tracker-stage, .tracker-waiting{
	max-height: 346px;
	min-height: 346px;
}
.regret-message, .success-message, .returned-message {
		margin:28px 16px 0 16px;
		margin:1.75rem 1rem 0 1rem;
		width:96%;
}
#tracker-h1{
		margin-left: 3px;
}
.main-columns{
		padding-right: 0px;
		padding-left: 1.09rem;
}
}
.regret-message, .returned-message{
		background:#e7d4a6;
}
.success-message{
		background:#d5e2d9;
}
.regret-message, .success-message, .returned-message{
		padding:23px;
		padding:1.438rem;;
		border: 1px solid #bdbdbc;
}
.regret-message p, .success-message p, .returned-message p{
		font-size: 20px;
		font-size: 1.25rem;
		color: #333333;
		line-height: 24px;
		line-height: 1.5rem;
		padding:0;
		margin: 0;

}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
.tracker-stage, .tracker-waiting{
		width: 84% !important;
		margin: 10px 8%;
}
.tracker-waiting h3{
		margin-top: 9.19rem !important;
}
.tracker-stage img{
		display:block;
		float:left;
		width: 35%;
		margin:0;
		padding:0;
}
.tablet-wrap{
		float:left;
		width: 59%;
		margin: 1rem 0 1rem 5%;
		padding: 2.5rem 0;
		border-left: 1px solid #e6e6e6;

}
.progress-bar-wrapper{
		clear:left;
}
#days-left{
		clear:left;
}
.tracker-stage h3, .tracker-waiting h3{
		clear: left;
}
.tracker-main p{
		clear:left;
}
.additional-info{
		margin: 2rem 0px;
		background: #e6e6e6;
		padding: 1rem;
}
.regret-message, .success-message, .returned-message {
		margin-top: 10px;
}
}
@media only screen and (max-width: 40em) {
#tracker-h1{
		font-size: 1.8rem;
		margin: 2rem 0 1.8rem 1.6rem !important;
}
.tracker-stage, .tracker-waiting{
		width: 84% !important;
		margin: 10px 8%;
}
.additional-info{
		margin: 2rem 0px;
		background: #e6e6e6;
		padding: 1rem;
}
.additional-info a, .additional-info p{
		font-size: 1rem;
}
.progress-bar-wrapper{
		clear:left;
}
#days-left{
		clear:left;
}
.tracker-stage h3, .tracker-waiting h3{
		clear: left;
}
.tracker-main p{
		clear:left;
}
.returned-message p, .success-message p, .regret-message p{
		font-size: .9rem;
		line-height: 1.1rem;
}
.regret-message, .success-message, .returned-message {
		margin-top: 10px;
}
}
/*TESTING PURPOSES ONLY BELOW. USED TO SHOW AND HIDE DIFFERENT STAGES*/
.receive-50, .receive-100, .recovery-complete, .recovery-failure, .recovery-success, .recovery-returned, .recovery-waiting{
		display:none !important;
}
.testing-buttons{
		position:absolute;
		width: 320px;
		left:0;
}
.testing-buttons button{
		height: 20px;
		line-height: .3rem !important;
		margin: 0;
		padding: .1rem;
		background: green;
		font-size: 10px;
		color: white;
		color: white;
}
