<!-- Footer -->
<div class='row'>
  <div class='small-12 columns large-10 large-centered footer bump-60'>
    <div class='row'>
      <div class='small-12 large-6 columns'>
        <ul class='footer-nav'> 
          <li class='footer-nav-items'>
            <a href='https://www.twitter.com/treversantora' title='Twitter'>Twitter</a>
          </li>
          <li class='footer-nav-items'>
            <a href='https://www.quora.com/Trever-Santora' title='Quora'>Quora</a> 
          </li>
          <li class='footer-nav-items'>
            <a href='https://www.linkedin.com/in/treversantora' title='LinkedIn'>LinkedIn</a>
          </li>
        </ul>
      </div>
      <div class='small-12 large-6 columns footer-credits'>
        <a class="cover-link" href="/" title="Portfolio">
        <span class='footer-copyright'>&copy; </span><span>2015</span>
        <span class='footer-text text-upper'>Trever Santora</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Javascript -->
<script src='/js/uglified/output.min.js'></script>
</body>
</html>