<!-- Footer -->
<div class='full-width footer-spread'>
<div class='row'>
  <div class='small-12 large-10 large-centered columns footer'>
    <div class='row'>
      <div class='small-12 large-6 columns'>
        <ul class='footer-nav'> 
          <li class='footer-nav-items'>
            <a href='https://www.linkedin.com/in/treversantora' title='LinkedIn'>LinkedIn<span class="footer-arrow">
              <svg class="glyph" width="30" data-attr-descent="-260" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1480 1797">
                <path class="glyphPath" transform=" scale(1,-1)" d="M133 500h301v-300h-84v156l-212 -211l-61 60l213 213h-157v82z" fill="white"></path>
              </svg>
            </span></a>
          </li>
          <li class='footer-nav-items'>
            <a href='https://www.instagram.com/treversantora' title='Quora'>Instagram<span class="footer-arrow">
              <svg class="glyph" width="30" data-attr-descent="-260" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1480 1797">
                <path class="glyphPath" transform=" scale(1,-1)" d="M133 500h301v-300h-84v156l-212 -211l-61 60l213 213h-157v82z" fill="white"></path>
              </svg>              
            </span></a> 
          </li>
          <li class='footer-nav-items'>
            <a href='https://www.twitter.com/treversantora' title='Twitter'>Twitter <span class="footer-arrow">
              <svg class="glyph" width="30" data-attr-descent="-260" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1480 1797">
                <path class="glyphPath" transform=" scale(1,-1)" d="M133 500h301v-300h-84v156l-212 -211l-61 60l213 213h-157v82z" fill="white"></path>
              </svg>
            </span></a>
          </li>
        </ul>
      </div>
      <div class='small-12 large-6 columns footer-credits'>
        <span class='footer-text'>Research. Content. Design. Code. </a>
        <span class='footer-copyright'>&copy; </span>
        <span class='footer-text'>{{ 'now' | date: "%Y" }} Trever Santora.</a>
        </span>
      </div>
    </div>
  </div>
</div>
</div>



<!-- Javascript -->
<script src='/js/uglified/output.min.js'></script>
<script>
  AOS.init();
</script>
</body>
</html>