<body>
<div class="wrapper">
  <nav id="stickyNav" class="large-12 columns clearfix">
    <div class="row">
      <div class="large-3 columns">
        <h1 class="logo"><a class="item-select" href="/" title="Iron-Point">Iron-Point</a></h1>
      </div>
      <a class="item-select" href="/about-us">
        <div class="large-3 medium-4 small-12 columns nav-column">
          <h2 class="item">About Us</h2>
          <p class="item-detail hide-for-small-only">Find out who we are and why we love marketing automation.</p>
        </div>
      </a>
      <a class="item-select" href="/case-studies">
        <div class="large-3 medium-4 small-12 columns flank nav-column">
          <h2 class="item">Case Studies</h2>
          <p class="item-detail hide-for-small-only">Quick-turn emails to marketing automation masterpieces.</p>
        </div>
      </a>
      <a class="item-select" href="/">
        <div class="large-3 medium-4 small-12 columns nav-column">
          <h2 class="item">Blog</h2>
          <p class="item-detail hide-for-small-only">Where we think out loud about our industry. Give us a read.</p>
        </div>
      </a>
    </div>
  </nav>