<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}" />
  <!-- CSS -->
  <style type="text/css">
    {% include test.css %}
  </style>
  <link rel="stylesheet" href="{{ "../css/styles.css" | prepend: site.baseurl }}">
  <!-- <link rel="stylesheet" href="https://cloud.typography.com/738760/719802/css/fonts.css"> -->
  {% if page.title == "Case Studies | Iron-Point" %}<link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v1.6.4/mapbox.css" />{% endif %}
  <!-- Live ReloadX
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=2"></' + 'script>')</script> -->
  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/images/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="../assets/images/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/images/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/images/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="../assets/images/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="../assets/images/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="../assets/images/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/images/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" href="../assets/images/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="../assets/images/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="../assets/images/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="../assets/images/manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/mstile-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!--[if lte IE 9]>
  <style>
    .mp-header {
      background-image: url('../assets/images/melting.jpg');
    }
  </style>
  <![endif]-->
  <!--[if lt IE 9]>
  <script type="text/javascript">
    window.location = "http://browsehappy.com/";
  </script>
  <![endif]-->
  <!--[if IE 8]>
  <style>
    .nav-column {
      width: 30% !important;
      margin-left: 3%;
    }
    .nav-column:first-of-type {
      margin-left: 10% !important;
    }
    nav.item-detail {
      float:left !important;
      clear: left !important;
      width: 100% !important;
    }
    nav.item {
      float: left;
    }
  </style>
  <![endif]-->
</head>