<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Trever Santora" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="description" content="{{ page.description }}" />
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
  <link href="//cloud.webtype.com/css/1f95b8e0-7dde-4565-945f-112863cf1bfb.css" rel="stylesheet" type="text/css" />
</head>